body {
    font-family: "Open Sans", system-ui;
}

h3 {
    padding-left: 50px;
    padding-right: 240px;
    /* padding-bottom: 50px; */
    /* font-size: 20px; */
}

nav {
    display: flex;
}

nav a {
    text-decoration: none;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;

}

li {
    text-decoration: none;
    padding-right: 50px;
    color: #474747;
}

.navtitle {
    color: #181818;
    font-weight: 800;
    font-size: 20px;
}
.mary{
    font-weight: 800;
    font-size: 30px;
}

.primarycolor {
    color: #FD6E0A;
}

main {
    display: flex;
}

section {
    padding-left: 50px;
}

img {
    padding-right: 40px;


}

.secondcolor {
    color: #474747;
}

.para {
    font-size: 10px;
}
.secondary{
    margin-right: 20px;
}
div{
    background-color:#FFF8F3;
}
.head{
    background-color: #FFF8F3;
}
.btnprimary{
    color: white;
    background-color:#FD6E0A;
    border: none;
}
.colorful{
    background-color:#FD6E0A;
    color:white;
    border: none;
}
.colorless{
    background-color: #FFF8F3;
    color: #FD6E0A;
    border:1px solid #FD6E0A;
}
button{
    border-radius: 4px;
}